@model MvcStok.Models.Entity.Tbl_Kategoriler
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    @*<div>
            <label>Kategori Adı</label>
            <input type="text" name="KategoriAd" value="" class="form-control" />
        </div>*@
    <div>
        <label> Kategori Adı</label>
        @Html.TextBoxFor(m => m.KategoriAd, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.KategoriAd, "", new { @style = "color:red" })
    </div>
    <br />
    <div>
        <button class="btn btn-info">Kategori Ekle</button>
    </div>
</form>

