@using MvcStok.Models.Entity
@model List<Tbl_Musteriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ AD</th>
        <th>MÜŞTERİ SOYAD</th>
        <th>İŞLEMLER</th>

    </tr>

    <tbody>
        @foreach (var musteri in Model)
        {
        <tr>
            <th>@musteri.MusteriId</th>
            <td>@musteri.MusteriAd</td>
            <td>@musteri.MusteriSoyad</td>
            <td>
                <a href="/Musteri/sil/@musteri.MusteriId" class="btn btn-danger">SİL</a>
                <a href="/Musteri/MusteriGetir/@musteri.MusteriId" class="btn btn-success">GÜNCELLE</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a href="/Musteri/YeniMusteri" class="btn btn-primary">YENİ MÜŞTERİ EKLE</a>
