@model MvcStok.Models.Entity.Tbl_Musteriler
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <form class="form-group " method="post">
        <div>
            <label>Müşteri Adı</label>
            @*<input type="text" name="MusteriAd" value="" class="form-control" />*@
            @Html.TextBoxFor(m=>m.MusteriAd,new { @class="form-control"})
            @Html.ValidationMessageFor(m=>m.MusteriAd,"",new { @style="color:blue"})
        </div>
        <br />
        <div>
            <label>Müşteri Soyadı</label>
            <input type="text" name="MusteriSoyad" value="" class="form-control" />

        </div>
        <br />
        <div>
            <button class="btn btn-info">Müşteri Ekle</button>
        </div>
    </form>

